.bgLogin {
    background-position: 50%;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .bgLogin {
    display: none;
    visibility: hidden;
    }
    .noneLogin{
        position: absolute;
    }
}