.bgRegistrasi {
    background-position: 100%;
    background-size: cover;
}
.noneRegistrasi {
    
}

@media only screen and (max-width: 768px) {
    .bgRegistrasi {
    display: none;
    visibility: hidden;
    }
    .noneRegistrasi{
        position: absolute;
    }
}